@charset "UTF-8";

body{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #2B2929;
    width: 700px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.form{
    border-radius: 3px;
    background-color: #E9E5E5;
    padding: 20px;
    height: 254px;
    width: 100%;
}
.form-group{
    margin-bottom: 20px;
}
.form-control{
    display: block;
    width: 96%;
    height: 34px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-success:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
    text-decoration: none;
}
.btn-success:active{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-lg {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 3px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    text-decoration: none;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary:active {
    background-image: none;
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.box-buttons{
    width: 230px;
    margin:0 auto;
}
.right{
    float: right;
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
